body {
    font-family: sans-serif;
    background-color: #FFA500;
}

header {
    border: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

h1 {
    color: #2e353d;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0%;
}

main img {
    width: 500px;
    padding-bottom: 3%;
}

main p {
    width: 693px;
    color: #242424;
    font-size: 30px;
    font-weight: 100;
    line-height: 36px;
}

logo {padding-left:600px}

footer {
    height: 32px;
    background-color: #434445;
    color: #a4a4a4;
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}
